#bingo-card {
    display: grid;
    align-self: center;
    gap: 8px;
    background-color: #4dc0b2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
}

#bingo-header-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.bingo-letter {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: beige;
    border: 1px solid #000;
}

#bingo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.song-tile {
    width: 100%;
    height: 100%;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    word-wrap: break-word;
    position: relative;
}

.song-tile:hover {
    background-color: lightcoral;
}

.song-tile.marked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #ffd700;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.7;
}

.song-tile.verified {
    cursor: not-allowed;
    background-color: #e0e0e0;
    opacity: 0.8;
}

.song-tile.verified:hover {
    background-color: #e0e0e0;
}

/* Background for page with bingo card (floating notes) */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-30px);
    }
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}