<!DOCTYPE html>
<html>
    <head>
        <title>Singo Bingo Login</title>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <link rel="stylesheet" href="static/css/login.css">
    </head>
    <body>
        <input type="hidden" id="lobby_code" value="{{ lobby_code }}">
        <input type="hidden" id="username" value="{{ username }}">
        <input type="hidden" id="avatar_id" value="{{ avatar_id }}">
        <div id="joinLobbyContainer">
            <h1>Join Lobby</h1>
            {% if error %}
                <p style="color:red">{{ error }}</p>
            {% endif %}
            <h1>LOBBY CODE: {{lobby_code}} </h1>
            <div id="loginForm">
                <form method="POST">
                    <input 
                        name="username" 
                        id="username" 
                        placeholder="Username..." 
                        maxlength="50"
                        />
                    <br/>
                    <input 
                        name="lobby_code_input" 
                        id="lobby_code_input" 
                        placeholder="Lobby Code..." 
                        maxlength="5"
                        />
                    <br/>
                    <button type="submit" id="submit">Join Lobby</button>
                </form>
            </div>
        </div>
        <div id="avatarSelectionContainer" hidden>
            <h1>Select Your Avatar</h1>
            <h3>Choose Wisely</h3>
            <div id="avatarSelection"></div>
            <button id="avatarSelected" onclick="addAvatarToUser()" disabled>Continue</button>
        </div>
        
        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    </body>
</html>