<!-- OVERVIEW: Will display visual feedback for when music is playing or not -->
 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/startGame.css') }}">
    <title>Singo Bingo</title>
  </head>
  <body>
    <!-- Displays playlist options for user -->
    <div id="playlist-selection-container">
      <h3>Pick One (not really I already picked): </h3>
    </div>
    <!-- Shows what playlist was chosen -->
    <div id="playlist-visual-container">
        <h3>Currently playing: </h3>
    </div>
    <!-- TODO: Add whatever feedback will be needed to visually show that music is playing -->
    <!-- TODO: Add wavelengths to the beat of the song (or pretend) -->
    <div id="song-visual-container">
        <h3>Currently playing: </h3>
    </div>
    <!-- TODO: Keep track of how long the song has been playing and the moment of silence (15/5) -->
    <div id="timer"></div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/startGame.js') }}"></script>
  </body>
</html>