<!-- OVERVIEW: Will display visual feedback for when music is playing or not -->
 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singo Bingo</title>
  </head>
  <body>
    <!-- TODO: Add whatever feedback will be needed to visually show that music is playing -->
    <!-- TODO: Add wavelengths to the beat of the song (or pretend) -->
    <div id="songVisualContainer">
        <h3>Currently playing: {{song}}</h3>
    </div>
    <!-- TODO: Keep track of how long the song has been playing and the moment of silence (15/5) -->
    <div id="timer"></div>
  </body>
</html>