<!-- OVERVIEW: Displays lobbycode, states instructions, waiting room for people already signed in  -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singo Bingo</title>
  </head>
  <body>
    <!-- Greets players and show lobby code -->
    <h1>Welcome to Singo Bingo</h1>
    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}
    <h1>LOBBY CODE: {{lobby_code}} </h1>
    <!-- TODO: Will display/read instructions for game while players login -->
    <div id="instructions"></div>
    <!-- TODO: This div is to show the ring of users taken with their username listed below their avatar -->
    <div id="signedInPlayers" hidden></div>
  </body>
</html>